@font-face {
    font-family: Roboto-Regular;
    src: url('../res/fonts/Roboto-Regular.ttf') format('ttf');
}

@font-face {
    font-family: Roboto-Thin;
    src: url('../res/fonts/Roboto-Thin.ttf') format('ttf');}

@font-face {
    font-family: Roboto-Medium;
    src: url('../res/fonts/Roboto-Medium.ttf') format('ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../res/fonts/Roboto-Light.ttf') format('ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../res/fonts/Roboto-Bold.ttf') format('ttf');
}

@font-face {
    font-family: Roboto-Black;
    src: url('../res/fonts/Roboto-Black.ttf') format('ttf');
}

#tagResumen,
#tagTareas,
#tagEventos,
#tagNotas,
#tagChats {
    -fx-font-family: "Roboto Light";
}

#tagPerfil,
#tagTitle,
#tagSubtitle {
    -fx-font-family: "Roboto Medium";
}
