.scroll-bar{
    -fx-background-color :#32323E;
    -fx-border-color :#32323E;
    -fx-background-radius : 30px;
    -fx-border-radius: 25px;
    -fx-border-width: 2px;

}

.scroll-bar .thumb{
    -fx-background-color :#FFFFFF;
    -fx-border-color :#FFFFFF;
    -fx-border-radius: 30px;
    -fx-border-width: 10px;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

