.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-hbar-policy:never;
    -fx-vbar-policy:never;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area{
    -fx-text-fill: white;
    -fx-alignment: center;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.date-picker > .text-field {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-insets: 1 0 1 1;
    -fx-background-radius: 2 0 0 2;
}

.combo-box .list-cell{
    -fx-text-fill: white;
}

.combo-box .list-view {
    -fx-background-color:  #32323E;
    -fx-border-radius: 30;
}

.date-picker > .arrow-button {
    -fx-background-color: transparent;
}